.v-binder-follower-container { position: absolute; left: 0px; right: 0px; top: 0px; height: 0px; pointer-events: none; z-index: auto; }
.v-binder-follower-content { position: absolute; z-index: auto; }
.v-binder-follower-content > * { pointer-events: all; }